// Fonts
$main-font: "Formular", Arial, Helvetica, serif;
$main-font-bold: "FormularBold", Arial, Helvetica, serif;
$second-font: "LavaPro", Arial, Helvetica, serif;
$second-font-heavy: "LavaProHeavy", Arial, Helvetica, serif;
$base-font-size: 16px;

// Colors
$white: #ffffff;
$dark-bg: #222222;
$grey-dark: #4D4D4D; //user-nav
$grey-lighter: #B7B7B7; //enter-text
$grey-light: #B6B6B6; //enter-icon
$grey-mid: #505050; //close-btn
$green: #8FB100;

$mobile-markers: #6C6C6C;
$grey: #999999; //mobile-menu-bottom-links
$active-menu: #2D2D2D;
$logout-icon: #646464;
$logout-text: #737373;

$search-bg: #F8F6F0;
$search-bottom: #E9E9E9;
$search-icon: #383838;

$copyright: #777777;
$footer-border: #474747;

$top-menu: #2F2F2F;
$menu-hover-border: #B3B3B3;
$h1: #333333;
$h3: #2E2E2E;
$list-item-descr: #8F8F8F;
$list-item-data: #979797;
$list-btn-border: #e4e4e4;
$list-btn-text: #565656;

$active-theme: #282828;